.send-message-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.send-message-form input[type="text"],
.send-message-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.send-message-form select {
  appearance: none;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 10L12 14.5L16.5 10H7.5Z' fill='%23222222'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
  cursor: pointer;
}

.send-message-form button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.send-message-form button:hover {
  background-color: #0056b3;
}

  
.send-message-form label.checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.send-message-form input[type="checkbox"] {
  margin-right: 10px;
  width: 20px; 
  height: 20px; 
  appearance: none; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  cursor: pointer; 
}

.send-message-form input[type="checkbox"]:checked {
  background-color: #007bff;
}

.send-message-form input[type="checkbox"]::before {
  content: '';
  display: block;
  width: 20px; 
  height: 7px; 
  border-bottom: 2px solid #f4f4f4;
  border-left: 2px solid #f4f4f4; 
  transform: rotate(-45deg);
}